{% extends 'base.html.twig' %}

{% block title %}Calificaciones index{% endblock %}

{% block body %}
    <h1>Calificaciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Materia</th>
                <th>Ciclo</th>
                <th>Nota</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calificacione in calificaciones %}
            <tr>
                <td>{{ calificacione.idMateria }}</td>
                <td>{{ calificacione.idCiclo }}</td>
                <td>{{ calificacione.nota }}</td>
                
                <td>
                    <a href="{{ path('calificaciones_show', {'idAlumno': calificacione.idAlumno}) }}">show</a>
                    <a href="{{ path('calificaciones_edit', {'idAlumno': calificacione.idAlumno}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calificaciones_new') }}">Create new</a>
{% endblock %}
