{% extends 'base.html.twig' %}

{% block title %}Horarios index{% endblock %}

{% block body %}
    <h1>Horarios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HoraInicio</th>
                <th>HoraFinal</th>
                <th>Dia</th>
                <th>Actividad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td>{{ horario.id }}</td>
                <td>{{ horario.horaInicio ? horario.horaInicio|date('H:i:s') : '' }}</td>
                <td>{{ horario.horaFinal ? horario.horaFinal|date('H:i:s') : '' }}</td>
                <td>{{ horario.dia }}</td>
                <td>{{ horario.actividad }}</td>
                <td>
                    <a href="{{ path('horarios_show', {'id': horario.id}) }}">show</a>
                    <a href="{{ path('horarios_edit', {'id': horario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('horarios_new') }}">Create new</a>
{% endblock %}
