{% extends 'base.html.twig' %}

{% block title %}Wiki index{% endblock %}

{% block body %}
    <h1>Wiki index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Cuerpo</th>
                <th>Hashtag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wiki in wikis %}
            <tr>
                <td>{{ wiki.id }}</td>
                <td>{{ wiki.titulo }}</td>
                <td>{{ wiki.cuerpo }}</td>
                <td>{{ wiki.hashtag }}</td>
                <td>
                    <a href="{{ path('wiki_show', {'id': wiki.id}) }}">show</a>
                    <a href="{{ path('wiki_edit', {'id': wiki.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wiki_new') }}">Create new</a>
{% endblock %}
